{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}


{% block body %}

    <div class="row p-3">
        <div class="col-sm-4">
            <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" width="130px">    
        </div>
        
        <div>
            <h2>Book Info</h2>
            <ul>
                <li><h3><i>Title: </i>{{book.title}}</h3></li>
                <li><h3><i>Author: </i>{{book.author}}</h3></li>
                <li><h3><i>Publish in: </i>{{book.year}}</h3></li>
            </ul>
        </div>
    </div>
    <h2>
        Comment
    </h2>
    <ul>
        {% for comment in comments %}
        <li>
            <h3><b>{{comment.user_id}}</b> say {{comment.text}}</h3>
        </li>
        {% endfor %}
    </ul>
    <div>
        <form action="/book/{{book.isbn}}" method="POST">
            <input class="form-control" name="comment" type="text" placeholder="Leave your comment">
            <button class="btn btn-info" type="submit">Comment</button>
        </form>
    </div>
    
    <div class="containter">
        <ul>
            {% for comment in comments %}
                <li>
                    <h4><i>{{comment.username}} say:</i> {{comment.text}}</h4>
                </li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}